<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>MP1</title>
</head>
<body>
    <header>
        <h1>Wypozyczalnia gier</h1>
        <img src="/images/logo.jpeg" alt="logo">
    </header>

    <nav>
        <ul>
            <li><a href="/" class="<%= navLocation == 'main' ? 'active' : '' %>">Strona główna</a></li>
            <li><a href="/users" class="<%= navLocation == 'users' ? 'active' : '' %>">Uzytkownicy</a></li>
            <li><a href="/games" class="<%= navLocation == 'game' ? 'active' : '' %>">Gra</a></li>
            <li><a href="/gameRent" class="<%= navLocation == 'gameRent' ? 'active' : '' %>">Wypozyczone gry</a></li>
        </ul>
    </nav>
</body>
</html>