
    <%- include('./fragments/header.ejs') %>
    <main>
        <h2><%= __('title.content') %></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, amet voluptas. Vel id, eaque explicabo rem itaque fugiat aspernatur reiciendis adipisci, accusamus, expedita doloremque tenetur nihil. Distinctio, nostrum asperiores! Nobis, deserunt dicta magnam minus placeat distinctio nemo ab dignissimos accusamus deleniti? Doloribus amet quo debitis officiis! Suscipit, repellendus enim natus qui placeat quo necessitatibus vitae quas. Quod eveniet deserunt ea fugit voluptatibus distinctio sint, molestias id a exercitationem blanditiis nam doloremque nostrum architecto temporibus doloribus tempora adipisci, maiores alias atque veniam. Est molestiae dolorem fugiat reiciendis, vitae, recusandae quam aut minima odio minus provident nostrum temporibus iure autem? Architecto, dolore?</p>
    </main>

    <%- include('./fragments/footer.ejs') %>

    <% if (message != null) { %>
        <div class="alert">
            <%= message %>
        </div>
    <% } %>

    <script>
        let alert = document.querySelector('.alert')
        if(alert !== null){
            if(alert.style.display = 'block') {
                setTimeout(() => {
                    alert.style.display = 'none';
                }, 1500);
            }
        }
    </script>
</body>
</html>